                 /* CSS BY Tracy Christenson */
                 /* IMPORTED FONTS */
                 /* cyrillic */
                 
                 @font-face {
                     font-family: 'Playfair Display';
                     font-style: italic;
                     font-weight: 400 900;
                     font-display: swap;
                     src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFkD-vYSZviVYUb_rj3ij__anPXDTnohkk7yRZrPJ-M.woff2) format('woff2');
                     unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
                 }
                 /* vietnamese */
                 
                 @font-face {
                     font-family: 'Playfair Display';
                     font-style: italic;
                     font-weight: 400 900;
                     font-display: swap;
                     src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFkD-vYSZviVYUb_rj3ij__anPXDTnojUk7yRZrPJ-M.woff2) format('woff2');
                     unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
                 }
                 /* latin-ext */
                 
                 @font-face {
                     font-family: 'Playfair Display';
                     font-style: italic;
                     font-weight: 400 900;
                     font-display: swap;
                     src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFkD-vYSZviVYUb_rj3ij__anPXDTnojEk7yRZrPJ-M.woff2) format('woff2');
                     unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
                 }
                 /* latin */
                 
                 @font-face {
                     font-family: 'Playfair Display';
                     font-style: italic;
                     font-weight: 400 900;
                     font-display: swap;
                     src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFkD-vYSZviVYUb_rj3ij__anPXDTnogkk7yRZrPA.woff2) format('woff2');
                     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
                 }
                 /* cyrillic */
                 
                 @font-face {
                     font-family: 'Playfair Display';
                     font-style: normal;
                     font-weight: 400 900;
                     font-display: swap;
                     src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFiD-vYSZviVYUb_rj3ij__anPXDTjYgEM86xRbPQ.woff2) format('woff2');
                     unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
                 }
                 /* vietnamese */
                 
                 @font-face {
                     font-family: 'Playfair Display';
                     font-style: normal;
                     font-weight: 400 900;
                     font-display: swap;
                     src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFiD-vYSZviVYUb_rj3ij__anPXDTPYgEM86xRbPQ.woff2) format('woff2');
                     unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
                 }
                 /* latin-ext */
                 
                 @font-face {
                     font-family: 'Playfair Display';
                     font-style: normal;
                     font-weight: 400 900;
                     font-display: swap;
                     src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFiD-vYSZviVYUb_rj3ij__anPXDTLYgEM86xRbPQ.woff2) format('woff2');
                     unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
                 }
                 /* latin */
                 
                 @font-face {
                     font-family: 'Playfair Display';
                     font-style: normal;
                     font-weight: 400 900;
                     font-display: swap;
                     src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgEM86xQ.woff2) format('woff2');
                     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
                 }
                 /* CSS RESET */
                 
                 html,
                 body,
                 div,
                 h1,
                 h2,
                 h3,
                 section,
                 p,
                 img,
                 ul,
                 li,
                 footer,
                 header,
                 menu,
                 nav {
                     margin: 0;
                     padding: 0;
                     border: 0;
                     font-size: 100%;
                     font: inherit;
                     vertical-align: baseline;
                 }
                 
                 ul {
                     list-style-type: none;
                 }
                 /* HTML5 display-role reset for older browsers */
                 
                 footer,
                 header,
                 menu,
                 nav,
                 section {
                     display: block;
                 }
                 
                 body {
                     line-height: 1.25;
                 }
                 /* ROOT VARIABLES */
                 
                  :root {
                     --primary-color: #000;
                     --font-size: 1.25em;
                     --font-family: 'Playfair Display';
                 }
                 /* GLOBAL STYLES (mobile first/small) */
                 
                 body {
                     font-family: var(--font-family);
                     color: var(--primary-color);
                     font-size: var(--font-size);
                     background-color: #FAF9F6;
                 }
                 
                 header {
                     background-color: #1F2A44;
                     color: #FAF9F6;
                     text-align: center;
                     padding: 20px;
                     margin: 0px;
                 }
                 
                 header img {
                     width: 50%;
                     margin-left: auto;
                     margin-right: auto;
                 }
                 
                 header p {
                     font-style: italic;
                 }
                 
                 h1 {
                     font-family: 'Playfair Display';
                     font-size: 3em;
                     color: #FAF9F6;
                     margin: 10px
                 }
                 
                 h2 {
                     font-family: 'Playfair Display';
                     font-size: 2em;
                     color: #1F2A44;
                 }
                 
                 h3 {
                     font-size: 1.5em;
                     color: #FAF9F6;
                     font-weight: bold;
                 }
                 
                 nav {
                     background-color: #E5C185;
                     text-align: center;
                     padding: 20px;
                     margin: 0px;
                 }
                 
                 nav ul {
                     display: inline-block;
                     width: 100%;
                     margin-left: auto;
                     margin-right: auto;
                 }
                 
                 nav ul li {
                     display: inline-block;
                     width: 30%;
                     font-weight: bold;
                     text-align: center;
                 }
                 
                 nav ul li a {
                     color: #1F2A44;
                     text-decoration: none;
                     font-weight: bold;
                 }
                 
                 hr {
                     color: #E5C185;
                     width: 90%;
                     margin-left: auto;
                     margin-right: auto;
                     margin-top: 20px;
                     margin-bottom: 20px;
                 }
                 
                 main {
                     width: 90%;
                     margin-left: auto;
                     margin-right: auto;
                 }
                 
                 #listings {
                     display: grid;
                     grid-template-columns: auto;
                     gap: 10px 10px;
                 }
                 
                 #offerings #listings div {
                     background-color: #76885B;
                     color: #FAF9F6;
                     padding: 20px;
                     border-radius: 10px;
                     box-shadow: 2px 2px 2px #2B2B2B;
                 }
                 
                 #offerings div ul {
                     list-style-type: disc;
                     margin-left: 10px;
                     margin-top: 5px;
                     margin-bottom: 5px;
                 }
                 
                 #images {
                     display: grid;
                     grid-template-columns: auto;
                 }
                 
                 figure {
                     border-radius: 10px;
                     box-shadow: 0px 2px 5px #2B2B2B;
                     overflow: hidden;
                 }
                 
                 figure picture,
                 figure img {
                     display: block;
                     object-fit: contain;
                     width: 100%;
                 }
                 
                 figcaption {
                     color: #2B2B2B;
                     font-size: 0.75em;
                     text-align: center;
                     font-style: italic;
                     padding: 5px;
                 }
                 
                 .button {
                     display: block;
                     background-color: #76885B;
                     text-align: center;
                     font-weight: bold;
                     width: 100%;
                     padding: 10px;
                     border-radius: 5px;
                 }
                 
                 .button a {
                     color: #FAF9F6;
                     text-decoration: none;
                 }
                 
                 footer {
                     color: #FAF9F6;
                     font-size: 1em;
                     background-color: #1F2A44;
                     text-align: center;
                     margin: 0;
                     padding-top: 50px;
                     padding-bottom: 20px;
                 }
                 
                 footer a {
                     color: #FAF9F6;
                     text-decoration: none;
                 }
                 
                 #email,
                 #social a {
                     color: #E5C185;
                     font-weight: bold;
                 }
                 
                 #social {
                     margin-top: 50px;
                 }
                 /* MEDIA QUERY (medium) */
                 
                 @media all and (min-width: 600px) {
                     header img {
                         width: 25%;
                     }
                     h1 {
                         font-size: 4em;
                     }
                     h2 {
                         font-size: 3em;
                     }
                     h3 {
                         font-size: 2em;
                     }
                     #listings {
                         display: grid;
                         grid-template-columns: auto auto;
                     }
                     #lastlisting {
                         grid-column: 1 / 4;
                     }
                     #images {
                         display: grid;
                         grid-template-columns: auto auto;
                     }
                 }
                 /* MEDIA QUERY (large) */
                 
                 @media all and (min-width: 900px) {
                     h1 {
                         font-size: 5em;
                     }
                     h2 {
                         font-size: 4em;
                     }
                     h3 {
                         font-size: 3em;
                     }
                     #images {
                         display: grid;
                         grid-template-columns: auto auto auto;
                     }
                 }
                 /* MEDIA QUERY (xl) */
                 
                 @media all and (min-width: 1200px) {
                     #images {
                         display: grid;
                         grid-template-columns: auto auto auto auto auto;
                     }
                 }